In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
#
import sklearn.cluster
from sklearn.metrics.pairwise import euclidean_distances
import sklearn.metrics
import sklearn.linear_model

In [4]:
db = pd.read_csv("C:/Users/thale/Desktop/Faculdade_e_Trabalho/IC/IC2019/CoronaVirus/covid-19.csv")
db

    cases1  cases2  cases3  cases4  cases5  cases6      Y
0        1     1.0     1.0     1.0     2.0     2.0    3.0
1        1     1.0     1.0     2.0     2.0     3.0    8.0
2        1     1.0     2.0     2.0     3.0     8.0   13.0
3        1     2.0     2.0     3.0     8.0    13.0   13.0
4        2     2.0     3.0     8.0    13.0    13.0   25.0
5        2     3.0     8.0    13.0    13.0    25.0   34.0
6        3     8.0    13.0    13.0    25.0    34.0   52.0
7        8    13.0    13.0    25.0    34.0    52.0   77.0
8       13    13.0    25.0    34.0    52.0    77.0   98.0
9       13    25.0    34.0    52.0    77.0    98.0  121.0
10      25    34.0    52.0    77.0    98.0   121.0  200.0
11      34    52.0    77.0    98.0   121.0   200.0  234.0
12      52    77.0    98.0   121.0   200.0   234.0  291.0
13      77    98.0   121.0   200.0   234.0   291.0    NaN
14      98   121.0   200.0   234.0   291.0     NaN    NaN
15     121   200.0   234.0   291.0     NaN     NaN    NaN
16     200   234.0   291.0     NaN     NaN     NaN    NaN
17     234   291.0     NaN     NaN     NaN     NaN    NaN
18     291     NaN     NaN     NaN     NaN     NaN    NaN

In [5]:
X= db.drop('Y',axis=1)
y= db['Y']

NameError: name 'RBFLayer' is not defined